body {
    font-family: Arial, sans-serif;
    background: #2193b0; 
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 40px;
    margin: 20px 0;
    color: #fff;
}
.search {
    margin: 20px 0;
}
.search input {
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    width: 180px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
#searchBtn{
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%)
}
#searchBtn{
    margin: 10px;
    padding: 16px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;        
    font-weight: 500;    
    border-radius: 10px;
    border: none;
}
#searchBtn:hover {
    background-position: right center;
    color: #fff;
}

#result {
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    background: white;
    border-radius: 10px;
}
#result h2 {
    margin: 0 0 10px;
    font-size: 25px;
    font-weight: 600;
    color: #1e3c72;
}
#result img {
    margin: 10px 0;
}
#result b {
    padding-bottom: 10px;
    color: #808080a8;
}
